[Unit]
Description=buss2 daemon
After=network.target

[Service]
Type=simple
User=olav
Group=olav
ProtectHome=read-only
ReadWritePaths=/home/olav/projects/buss2/
WorkingDirectory=/home/olav/projects/buss2/
ExecStart=/home/olav/projects/buss2/serve
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target