buss.olav.it {
    redir https://buss.olav.it{uri}
}

buss.olav.it {
    route {
        root * /home/olav/projects/buss2/dist/spa/
        file_server
        reverse_proxy /api/* unix//run/buss2.sock
    }
    encode zstd gzip
}